.payment-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.bill-container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.bill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
}

.bill-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.bill-section {
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0;
}

.pay-btn {
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.pay-btn:hover {
  background-color: #45a049;
}

.no-bill {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.input-container {
  margin-bottom: 20px;
    display: inline-block;
  align-items: center;
}

.bank-dropdown {
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
}

.shorter-input {
  margin-bottom: 10px;
  width: 300px;
}

.verification-input {
  margin-top: 10px;
  width: 300px;
  margin-right: 10px;
}

.verify-email-btn {
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.verify-email-btn:hover {
  background-color: #0c85d0;
}

.pay {
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.pay:hover {
  background-color: #45a049;
}

.payment-details {
  margin-top: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer > *:not(:last-child) {
  margin-right: 10px;
}

  /* payment history styles */

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: left;
}

/* Modal styles */
.payment-details {
  text-align: left;
}

.payment-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-details p {
  margin: 5px 0;
}

/* Button styles */
button {
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}